<html>
    <template id="cabecera-t" >

        <div class="container" >
            <img src="" alt="">
            <form action="">
                <input type="text" placeholder="Buscar por nombre y marca">
            </form>
            <div>
                <img src="img/icono-adress.png" alt="">
                <p>Av. Universitaria Nro. 7007 Urb. Santa Luzmila - Comas - Lima - Lima</p>
            </div>
        </div>
    </template>
    <script type="module" src="./cabecera.js"></script>
</html>